.spacer {
    margin-top: 15px;
    margin-bottom: 15px;
    
    background: white;
    animation-name: grow;
    animation-duration: 500ms;
    animation-timing-function: ease-in-out;
    height: 1px;
    width: 200px;
}

@keyframes grow {
    0% {
        width: 0px;
    }
    100% {
        width: 200px;
    }
}